### 作業

In [3]:
tc1,tc2,tc3 = 0,25,98
tf1 = 9/5*tc1 + 32
tf2 = 9/5*tc2 + 32
tf3 = 9/5*tc3 + 32
print(tf1,tf2,tf3)

32.0 77.0 208.4

In [4]:
msg = "Ken "
msgx3 =msg*3
print(msgx3)

Ken Ken Ken

In [1]:
str1 = "Number:"
var1 = 25
msg = str1 + str(var1)
print(msg)

str2 = "21"
var2 = 10
total = int(str2) + var2
print(total)

Number:25
31

In [2]:
a = 3
b = 4

print(a,b)

temp = b
b = a
a = temp

print(a,b)

3 4
4 3

In [3]:
a = 3
b = 4
print(a,b)
a,b = b,a
print(a,b)

3 4
4 3

In [4]:
title = "先生"
lastName = "Ken"
greet = "您好"
msg = lastName*3+title+greet
print(msg)

KenKenKen先生您好

In [6]:
ch = int(input("請輸入國文成績:"))
ma = int(input("請輸入數學成績:"))
en = int(input("請輸入英文成績:"))

total = ch + ma + en

print(ch)
print(type(ch))
print("total:",total)
print("平均分:",total / 3)
print(f"平均分:{total / 3:.2f}")
print("平均分:",round(total / 3,2) )

請輸入國文成績:90
請輸入數學成績:70
請輸入英文成績:60
90
<class 'int'>
total: 220
平均分: 73.33333333333333
平均分:73.33
平均分: 73.33

In [1]:
c = int(input("輸入攝氏溫度"))
f = 9 / 5 *c + 32
print(f"{f:.2f}")

輸入攝氏溫度32
89.60

In [2]:
#BMI 計算
# 公式為「體重 ( 公斤 ) 除以身高 ( 公尺 ) 的平方」

w = float(input("體重"))
h = int(input("身高cm"))
bmi = w / (h/100)**2
print(bmi)

體重80
身高cm178
25.24933720489837

In [3]:
name = "Ken"
age = 12
# Ken今年12歲
print(name,"今年",age,"歲",sep="")#sep輸出的間隔
# %d 整數 %s 文字  %f 浮點數
print("%s今年%d歲"%(name,age))
print(f"{name}今年{age}歲")

print("%f"%(18.2567))
print("%.2f"%(18.2567))
print(f"{18.2567:.2f}")

Ken今年12歲
Ken今年12歲
Ken今年12歲
18.256700
18.26
18.26

In [4]:
var1 = 123
print(type(var1))
var2 = 3.14
print(type(var2))
var3 = True
print(type(var3))
var4 = "Hello"
print(type(var4))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [5]:
x = 123
print(id(x))
x = 456
print(id(x))
x = "Hello"
print(id(x))
y = 123
print(id(y))

140713487842016
1839020618128
1839020433584
140713487842016

In [6]:
x = 10
print(x)
print(type(x))
x = x + 5.5
print(type(x))

10
<class 'int'>
<class 'float'>

In [7]:
x = 10.5
print(x)
print(type(x))
y = int(x) + 5
print(y)
print(type(y))
z = float(y) + 5
print(z)
print(type(z))

10.5
<class 'float'>
15
<class 'int'>
20.0
<class 'float'>

In [8]:
x,y = 5,0
print(x,bool(x))
print(y,bool(y))

x,y = 1.5,0.0

print(x,bool(x))
print(y,bool(y))

x = "Hi"
y = ""
print(x,bool(x))
print(y,bool(y))

x = [1,2,3]
y = []
print(x,bool(x))
print(y,bool(y))

5 True
0 False
1.5 True
0.0 False
Hi True
 False
[1, 2, 3] True
[] False

In [9]:
str1 = "Ken"
str2 = 'Vivin'
print(str1,str2)
print(len(str1),len(str2))
# \n斷行 換行
print("Lucy\nBen")
print("A\tB")
print("\"key\"")
print('"key"')
print('<a href=\'https://www.google.com\'>google</a>')
print("<a href='https://www.google.com'>google</a>")

path = "c:\new\temp"
print(path)
path = "c:\\new\\temp"
print(path)
path = r"c:\new\temp"
print(path)

Ken Vivin
3 5
Lucy
Ben
A	B
"key"
"key"
<a href='https://www.google.com'>google</a>
<a href='https://www.google.com'>google</a>
c:
ew	emp
c:\new\temp
c:\new\temp

In [10]:
news = """手機開啟應用程式時，最惱人且感到無奈的就是，
手機畫面突然被全螢幕覆蓋的廣告滿版給霸佔，往往總得等候數秒待廣告跑完，
才能手動關閉廣告頁面，以進入應用程式的主頁面。
隨著今年新一代Android 14 正式版系統將於秋季釋出，
針對App 應用程式內含無預警跳出的全螢幕廣告滿版覆蓋、
或採全螢幕覆蓋型式顯示的通知訊息等類似這樣的狀況，
在升級到Android 14後，將能透過設定選單新增的開關按鈕，
讓安卓手機用戶擁有自行管控應用程式內「全螢幕通知」彈出的權限了。"""
print(news)

手機開啟應用程式時，最惱人且感到無奈的就是，
手機畫面突然被全螢幕覆蓋的廣告滿版給霸佔，往往總得等候數秒待廣告跑完，
才能手動關閉廣告頁面，以進入應用程式的主頁面。
隨著今年新一代Android 14 正式版系統將於秋季釋出，
針對App 應用程式內含無預警跳出的全螢幕廣告滿版覆蓋、
或採全螢幕覆蓋型式顯示的通知訊息等類似這樣的狀況，
在升級到Android 14後，將能透過設定選單新增的開關按鈕，
讓安卓手機用戶擁有自行管控應用程式內「全螢幕通知」彈出的權限了。

In [11]:
mystring = "Hello World"
print(mystring)
print(mystring[2])
print(mystring[-3])

print(mystring[2:])
print(mystring[:3])
print(mystring[1:4])
print(mystring[-4:-1])

print(mystring[::-1])
print(mystring[-2:-5:-1])

print(mystring[::2])

Hello World
l
r
llo World
Hel
ell
orl
dlroW olleH
lro
HloWrd

In [14]:
list2 = ['Ken',"Vivin"]
tuple2 = ("Howard","Joy")
print(list2)
print(tuple2)
list2[1] = "Iris"
print(list2)
#tuple2[1] = "Ben"

list3 = ['A','B','C','D','E']
print(list3[0])
print(list3[-1])
print(list3[-3])

print(list3[2:])
print(list3[:-3])
print(list3[2:4])
print(list3[::-1])

['Ken', 'Vivin']
('Howard', 'Joy')
['Ken', 'Iris']
A
E
C
['C', 'D', 'E']
['A', 'B']
['C', 'D']
['E', 'D', 'C', 'B', 'A']

In [12]:
scores = [60,70,75,90,100]
print(scores)
scores[2] = 80
print(scores)
del scores[2]
print(scores)
del scores[1:3]
print(scores)
del scores #刪除變數
print(scores)

[60, 70, 75, 90, 100]
[60, 70, 80, 90, 100]
[60, 70, 90, 100]
[60, 100]

NameError: name 'scores' is not defined

In [13]:
s = {1,2,2,3,1}
print(s)#可過濾重複數值

{1, 2, 3}

In [15]:
scores = {"Ch":95,"En":80,"Ma":70,"Ch":100}
print(scores)
scores["Ma"] = 75
print(scores)
scores["Sc"] = 83
print(scores)
myKey = "So"
print(scores[myKey])#會出錯

{'Ch': 100, 'En': 80, 'Ma': 70}
{'Ch': 100, 'En': 80, 'Ma': 75}
{'Ch': 100, 'En': 80, 'Ma': 75, 'Sc': 83}

KeyError: 'So'